<template name="dashboardZopim">
  <p>Zopim allows for chat interaction with your customer support team. You must have a Zendesk Zopim account.</p>

  <h4>Zopim Setup</h4>
  <ol>
    <li><a href="https://dashboard.zopim.com/">Login to Zopim</a></li>
    <li><a href="https://dashboard.zopim.com/?lang=en-us#widget/appearance">Configure your chat widget settings to customize the Zopim widget to fit your brand identity</a></li>
    <li><a href="https://dashboard.zopim.com/?lang=en-us#widget/getting_started">Copy the <strong>entire widget Script url and paste it below</strong></a> <img src="images/zopim_settings.png"></li>
    <li>Click Save Changes!</li>
  </ol>

  {{> zopimSettings}}
</template>